<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <h1>Evidencias Fotograficas POLI-SENA 2018</h1>
    </div>
    <% if signed_in? %>
      <div class="col-sm-2">
        <%= link_to "Nueva Foto", new_photo_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-around">
    <% @photos.each do |photo| %>
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="https://images.pexels.com/photos/1018350/pexels-photo-1018350.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><%= photo.title %></p>
          <p class="font-italic text-secondary">Publicado por <%= photo.user.email %>, <%= time_ago_in_words(photo.created_at) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
