<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <h1>Evidencias Fotograficas POLI-SENA 2018</h1>
      <% @photos.each do |photo| %>
        <%= photo.title %>
      <% end %>
    </div>
  </div>
</div>
