@import "bootstrap";
@import "photos";
@import "profiles";

*{
  font-family: 'Oxygen', sans-serif;
}
h1{ font-size: 1.6rem;}

body{
  background: #F2F2F2;
  color: #525243;
}
a , h1, h3{
  color: #8F060C;
  text-decoration: none;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
a:hover{
  color: #91B0CC;
  text-decoration: none;
}
.btn-color{
  background-color: #8F060C;
  color: #fff;
}
.btn-color:hover{
  background-color: #D90912;
  font-weight: bold;
}
.navbar, .start{
  margin-bottom: 20px;
}

@media (min-width: 576px){
  h1{
    font-size: 2rem;
  }
}
@media (min-width: 768px){
  h1{
    font-size: 2.5rem;
  }
}
